{{ define "head" }}

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!--<meta name="viewport" content="width=device-width, initial-scale=1">-->
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="/css/favicon.ico">
    
    <title>{{ .Title }}</title>
       
    <!-- Bootstrap core CSS -->
    <!--<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">-->
    <link href="/css/bootstrap.min.css" rel="stylesheet">
  
    <!-- Custom styles for this template -->

{{ end }}