{{ define "content" }}

<h1>About</h1>

<p class="lead">What's this all about?</p>

<p class="text-justify">You are probably here (this page), because you are wondering what on earth this site is all about. Well...</p>

<p class="text-justify">It all started as a result of me wanting to learn about the <a href="http://golang.org" target="_blank">GO</a> programming language. The inspiration for this came from a project called <a href="https://github.com/jcw/housemon" target="_blank">Housemon</a>, which is being developed by JCW of <a href="http://jeelabs.org" target="_blank">Jeelabs</a>. Early versions of Housemon were developed with node.js, which was easier for me to understand and hence contribute to Housemon. (Un)Fortunately JCW decided to switch to GO, for later versions of Housemon. I had (have!) no idea about GO, so have had to spend sometime learning the ropes. The most interesting way to learn is by building things and that is why this site exists.</p>

<p class="text-justify">The skeleton of this site started from the GO <a href="http://golang.org/doc/articles/wiki/" target="_blank">tutorial writing web applications</a>. From there it has evolved at a very slow pace.</p>

<p>Features so far</p>
<ul>
  <li>Routing</li>
  <li>Static Content Served from Markdown (md), plain text (txt) & html</li>
  <li>Templates to build pages</li>
  <li>Use of Twitter Bootstrap for styling</li>
</ul>

<p>In building this application, I found the following links really useful.</p>

<p>References</p>
<ul>
  <li><a href="http://elithrar.github.io/article/approximating-html-template-inheritance/" target="_blank">Approximating html/template Inheritance</a></li>
</ul>

{{ end }}