{{ define "content" }}

<h1>Contact</h1>

<p class="lead">You can contact me via</p>

<div class="list-group">
  <a href="https://github.com/danward79" target="_blank" class="list-group-item">Github</a>
  <a href="https://twitter.com/danward79" target="_blank" class="list-group-item">Twitter</a>
  <a href="http://www.linkedin.com/pub/daniel-ward/21/80a/525" target="_blank" class="list-group-item">LinkedIn</a>
</div>

<p class="lead">or via...</p>
<div class="list-group">
  <a href="https://africanuhambo.co.uk" target="_blank" class="list-group-item">Africanuhambo - Our Travel Blog</a>
</div>

<p class="lead">The <a href="http://en.wikipedia.org/wiki/Hove" target="_blank">Hove</a> Twitter weather feed at home, on the South Coast of the United Kingdom. <a href="https://www.google.co.uk/maps/place/Hove,+The+City+of+Brighton+and+Hove/@50.8399847,-0.1791761,13z/data=!3m1!4b1!4m2!3m1!1s0x48758553f34181db:0x68fbeacf34e3172b" target="_blank">Here!</a></p>

<div class="list-group">
  <a href="https://twitter.com/Hove_Weather" target="_blank" class="list-group-item">The Hove Weather Feed on Twitter</a>
</div>

{{ end }}